[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-bdd = "*"
pytest = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
mysql = "*"
mysqlclient = "*"
flask-restful = "*"
requests = "*"
flask-migrate = "*"

[requires]
python_version = "3.8"
