<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>일반 사용자</title>
</head>
<body>

    <form>
        {% set url = "/users/" + id %}
        {% set used_url = "/users/vacations/" + id + "/used" %}
        <input type="hidden" name="id" value = {{id}}>
        <input type="submit" formaction={{url}} formmethod="get" value="자신의 정보 읽기">&nbsp;&nbsp;

        <input type="submit" formaction="/users/vacations/used" formmethod="post" value="사용한 휴가 등록">&nbsp;&nbsp;
        <input type="submit" formaction={{used_url}}" formmethod="get" value="사용한 휴가 검색">&nbsp;&nbsp;
        <input type="button" value="go to login page" onclick="location.href='http://127.0.0.1:8080/'"/>
    </form>

</body>
</html>