<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        &nbsp;Current Category Name : {{category}}
    </p>
    <form>
        &nbsp;title : <input type="text" name="title">&nbsp;&nbsp;
        &nbsp;body : <input type="text" name="body">&nbsp;
        &nbsp;category : <input type="text" name="category"> &nbsp;<br><br>

        &nbsp;<input type="submit" value="create post" formaction="/post/" formmethod="post"/>
    </form>

</body>
</html>