<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <br>
    &nbsp;<input type="button" value="Create" onclick="location.href='/post/create/input'"/><br><br>
    &nbsp;<input type="button" value="Read" onclick="location.href='/post/read/select_title'"/><br><br>
    &nbsp;<input type="button" value="Update" onclick="location.href='/post/update'"/><br><br>
    &nbsp;<input type="button" value="Delete" onclick="location.href='/post/delete/select_title'"/><br><br>

</body>
</html>