<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <br>
    <form>
        &nbsp;<input type="submit" value="Create" formaction="/post/information"/><br><br>
        &nbsp;<input type="submit" value="Read" formaction="/post"  formmethod="get"/><br><br>
        &nbsp;<input type="submit" value="Delete" formaction="/post"  formmethod="get"/><br><br><br>
        &nbsp;<input type="submit" value="Select ID" formaction="/post/select_id" formmethod="get"/><br><br>
    </form>

</body>
</html>
